:root {
  /* colors */

  --clr-primary: #1e1e1e;
  --clr-white-900: hsl(0, 0%, 100%);
  /* --clr-primary: hsl(191, 69%, 13%); */

  /* alternative colors */

  --clr-secondary-1: #f9ff00;
  --clr-secondary-2: #ddfb13;
  --clr-secondary-3: #d0f91d;
  --clr-secondary-4: #c2f726;
  --clr-secondary-5: #b0e62b;
  --clr-secondary-6: #9dd52f;
  --clr-secondary-7: #77b338;
  --clr-secondary-8: #529141;
  --clr-secondary-9: #2c6e49;

  /* margins */

  --margin-l: 15rem;
  --margin-ml: 12rem;
  --margin-m: 10rem;
  --margin-ms: 5rem;
  --margin-s: 2rem;

  --margin-xs: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  color: var(--clr-primary);
}

.main-container {
}

.bg-container {
  min-height: 100vh;
  position: relative;
}

/* HEADER */

.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  padding: 4rem 6rem;

  z-index: 10;
}

.logo__link {
  text-decoration: none;
}

.logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.comp-name {
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--clr-white-900);
  /* text-transform: uppercase; */
  letter-spacing: 1rem;
}

.comp-logo {
  height: 4rem;
  width: auto;
}
/* NAV */
.nav__list {
  list-style: none;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 5rem;
}

.nav__item {
}

.nav__link {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-white-900);

  border-bottom: none;
  transition: all 0.1s;
}

.contact-box {
  /* background-color: var(--clr-white-900); */
  border-radius: 0.8rem;
  padding: 1rem 3rem;
  border: 0.3rem solid var(--clr-white-900);
  cursor: pointer;
  transition: all 0.4s;

  /* color: transparent; */

  /* margin-left:2rem; */
}

.contact-box:hover .contact-link {
  color: var(--clr-primary);
  color: var(--clr-secondary-1);
  color: var(--clr-secondary-9);
}
/* .contact-box:hover .hero__title-inner {
  color: var(--clr-white-900);
} */

.contact-box:hover {
  border: 0.3rem solid var(--clr-secondary-1);
  background-color: var(--clr-secondary-1);

  /* border: none; */
}

.nav__link:hover {
  color: var(--clr-secondary-1);
}

/* HERO */

.hero {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;

  background-image: url(./images/grass-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;

  z-index: 1;
}

.box {
  max-width: 150rem;
  /* font-family: 'Fuggles', cursive; */

  text-align: center;
  margin-bottom: -15vh;
  /* margin-top: 15vh; */
  /* margin: 0 auto; */
}

.hero__title {
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 100;
  font-size: 15rem;
  /* text-shadow: 0rem 0.1rem 0 var(--clr-white-900); */
  /* line-height: 1; */
  font-style: normal;
  line-height: 1;

  color: var(--clr-white-900);

  position: relative;
  /* background-color: red; */
}

.hero__title-inner {
  /* background-color: red; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--clr-primary);
  color: var(--clr-secondary-9);
  color: var(--clr-secondary-1);
  /* //////////////////////// */
  /* color: transparent; */
  /* background-image: url(./images/grass-10.jpg);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */
}

/* .bg-container:hover .hero__title-inner {
  color: red;
} */

.hero__title-desc {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr-white-900);
  text-transform: uppercase;
}
/* MAIN */

.container {
  max-width: 120rem;
  margin: 0 auto;
}
/* *************************************** */
/* ABOUT */
/* *************************************** */

.section-box {
  margin: 0 2rem 6rem;
}

h3 {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.numbers__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;

  /* border: 0.2rem solid red; */
}

.num__box {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  /* border-radius: 0.5rem; */

  border: 0.1rem solid var(--clr-primary);

  background-size: cover;

  padding: 6rem 2rem;
}

.num__box:hover .num__circle-number {
  transform: scale(1.05) translate(0, 6%);
}

.num__circle-init {
  font-weight: 400;
  margin-top: 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  /* color: var(--clr-secondary-1); */
}

.num__circle {
  width: 15rem;
  height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.num__circle-number {
  color: var(--clr-white-900);
  color: var(--clr-primary);
  font-size: 10rem;
  font-weight: 700;
  transition: all 0.2s;
}

.num__circle-desc {
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

/* *************************** */
/* OFFER */
/* *************************** */

.offer-title__box {
  width: 100%;
  height: 12rem;
  padding: 0 0 1rem 15rem;

  display: flex;
  justify-content: start;
  align-items: end;

  background-color: var(--clr-primary);
  color: var(--clr-white-900);
}

.offer-title {
  text-align: center;
  font-size: 10rem;
  letter-spacing: 1;
  line-height: 0.7;
  text-transform: uppercase;
  font-weight: 600;
}

ul {
  list-style: none;
}

.offer-item__box {
  width: 100%;
  height: 14rem;

  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  align-items: end;

  padding: 1rem 0 0 0;

  color: var(--clr-primary);

  transition: all 0.1s;
  cursor: pointer;
}

.offer-item {
  padding-left: 5rem;
}

.offer-work {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.icon-cross {
  justify-self: center;
  height: 4rem;
  width: auto;
  fill: var(--clr-primary);

  transform: rotate(45deg);
  transition: all 0.2s;
  margin-bottom: 3rem;

  /* align-self: center; */
}

.offer-more {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: 0fr;
  justify-content: start;

  transition: all 0.2s;
  padding-left: 5rem;
}
/* ///////////////////////////////////////////////////// */

.offer-item__container:hover .offer-more {
  grid-template-rows: 1fr;
}
.offer-item__container:hover .cross-1 {
  transform: rotate(90deg);
}
.offer-item__container:hover .cross-2 {
  transform: rotate(0deg);
}

/* ///////////////////////////////////////////////////// */

.offer-more__desc {
  grid-column: 2/3;
  justify-self: start;
  overflow: hidden;
  font-size: 1.5rem;
  padding: 0 2rem;
  max-width: 80rem;
  border-left: 0.1rem solid var(--clr-white-900);
  text-transform: uppercase;
  transition: all 0.4s;
}

.offer-item__container:hover .offer-more__desc {
  padding: 1rem 2rem;
}

/* *********************************** */
/* REALIZATIONS */
/* *********************************** */

.realizations {
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;

  background-color: var(--clr-primary);
}

.main-title__box {
  grid-column: 1/-1;
  justify-items: center;
  align-content: end;

  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 25rem;
}

.line-bottom {
  /* border-bottom: 0.3rem solid var(--clr-white-900); */
}

.main-title {
  color: var(--clr-white-900);
  letter-spacing: 4rem;
  font-size: 3.4rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  padding-bottom: 1rem;
  /* ////////////////////////////// */
  padding-left: 4rem;
  /* ////////////////////////////// */

  position: relative;
  z-index: 10;
}

.main-title__box-desc {
  color: #222;
  letter-spacing: 4rem;
  font-size: 45rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.65;
  position: absolute;
  top: 0;
  left: -2rem;

  z-index: -1;
}

.gallery-title__box {
  grid-column: 1/-1;
  background-color: var(--clr-white-900);
  background-color: var(--clr-primary);
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
}

.gallery-title__box::before {
  background-color: var(--clr-white-900);
  grid-column: 1/2;
  border: 0.2rem solid var(--clr-primary);
}

.gallery-title {
  display: inline;
  grid-column: 2/3;
  color: var(--clr-white-900);
  /* color: var(--clr-primary); */
  letter-spacing: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2;
}

/* .gallery-title__vertical {
  color: var(--clr-white-900);
  
  letter-spacing: 1.4rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  writing-mode: vertical-lr;
} */

.flex {
  grid-column: 1/-1;
  align-self: end;
  height: 80vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.1rem;

  /* margin: 0 2rem; */
}

.image-box__bg,
.image-box {
  width: 10rem;
  background-size: cover;
  background-position-x: left;
  background-position-y: center;
  overflow: hidden;

  cursor: pointer;
  transition: all 0.6s;

  display: flex;
  align-items: end;
}

.image-desc__box {
  display: flex;
  flex-wrap: nowrap;
  color: var(--clr-white-900);
}

.image-desc__desc {
  overflow: hidden;
  opacity: 0;
  transition: all 1s;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 2rem;
  /* border: 0.1rem solid var(--clr-white-900); */
  /* padding: 1rem; */
}

.image-box:hover {
  /* width: 100%; */
}

.image-box:hover .image-desc__desc {
  opacity: 100;
}

.image-box__1 {
  width: 100%;
}

/* .image-box:hover {
  width: 1fr;
} */

/* .image-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.full-size {
  width: 100%;
}

/* ********************************* */
/* CONTACT */
/* ********************************* */
.contact {
  height: 80vh;
}
.contact-title__box {
  height: 15vh;
}

.contact-title {
  color: var(--clr-primary);
}

.contact-wings {
  height: 65vh;
  display: grid;
  align-items: center;
  gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 2rem;
}
.contact-wing__left,
.contact-wing__right {
  font-size: 2rem;
  /* border: 0.2rem solid green; */
}

.contact-item__box {
  display: grid;

  /* border: 0.2rem solid red; */
  /* width: 60rem; */
}

.left {
  justify-content: end;
}
.left-self {
  justify-self: end;
}
.right {
  justify-content: start;
}
.right-self {
  justify-self: start;
}

.contact-item__link {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4rem;
  /* border: 0.2rem solid yellow; */
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 10rem;
}

.contact-item__link:hover {
  color: var(--clr-white-900);
  background-color: var(--clr-primary);
}

.reverse {
  flex-direction: row-reverse;
}

.contact-item__link-num {
  font-size: 3rem;
  font-weight: 700;
}

.contact-item__desc {
  /* border: 0.2rem solid blue; */
  display: flex;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.contact-item__desc-right {
  margin-left: 12rem;
}
.contact-item__desc-left {
  margin-right: 12rem;
}

.contact-item__icon-box {
  background-color: var(--clr-primary);
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item__icon {
  font-size: 4rem;
  line-height: 1.5;
  text-align: center;
  fill: var(--clr-white-900);

  height: 4.5rem;
  width: auto;
}

/* FOOTER */
.footer {
  height: 20vh;
  background-color: var(--clr-primary);
  color: var(--clr-white-900);
  font-size: 2rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border: 0.2rem solid red; */
}

.footer-items {
  margin: 0 5vw;
  width: 100%;
  /* border: 0.2rem solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-item__rights {
  font-weight: 300;
}

.footer-item__rights span {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 700;
  margin-left: 2rem;
}

.footer-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item__link-icon {
  height: 3rem;
  width: auto;
  fill: var(--clr-white-900);
}

/* COLORS */

.color-1 {
  background-color: var(--clr-secondary-1);
}
.color-2 {
  background-color: var(--clr-secondary-2);
}
.color-3 {
  background-color: var(--clr-secondary-3);
}
.color-4 {
  background-color: var(--clr-secondary-4);
}
.color-5 {
  background-color: var(--clr-secondary-5);
}
.color-6 {
  background-color: var(--clr-secondary-6);
}
.color-7 {
  background-color: var(--clr-secondary-7);
}
.color-8 {
  background-color: var(--clr-secondary-8);
}
.color-9 {
  background-color: var(--clr-secondary-9);
}

/* BACKGROUD IMAGES FOR REALIZASIONS */

.image-1 {
  background-image: url(./images/galeria/ogrod-1.jpg);
}
.image-2 {
  background-image: url(./images/galeria/ogrod-2.jpg);
}
.image-3 {
  background-image: url(./images/galeria/ogrod-3.jpg);
}
.image-4 {
  background-image: url(./images/galeria/ogrod-4.jpg);
}
.image-5 {
  background-image: url(./images/galeria/ogrod-5.jpg);
}
.image-6 {
  background-image: url();
}
.image-7 {
  background-image: url(./images/galeria/trawa-1.jpg);
}
.image-8 {
  background-image: url(./images/galeria/trawa-2.jpg);
}
.image-9 {
  background-image: url(./images/galeria/trawa-3.jpg);
}
.image-10 {
  background-image: url(./images/galeria/trawa-4.jpg);
}
.image-11 {
  background-image: url(./images/galeria/trawa-5.jpg);
}
.image-12 {
  background-image: url(./images/galeria/p1.jpg);
}
.image-13 {
  background-image: url(./images/galeria/p2.jpg);
}
.image-14 {
  background-image: url(./images/galeria/p3.jpg);
}
.image-15 {
  background-image: url(./images/galeria/p4.jpg);
}
.image-16 {
  background-image: url(./images/galeria/p5.jpg);
}
/* hidden */

.hidden {
  display: none;
}

/* MARGINS */

.margin-b__l {
  margin-bottom: var(--margin-l);
}
.margin-b__ml {
  margin-bottom: var(--margin-ml);
}
.margin-b__m {
  margin-bottom: var(--margin-m);
}
.margin-b__ms {
  margin-bottom: var(--margin-ms);
}
.margin-b__s {
  margin-bottom: var(--margin-s);
}
.margin-b__xs {
  margin-bottom: var(--margin-xs);
}
