:root {
  /* colors */

  --clr-primary: #1e1e1e;
  --clr-white-900: hsl(0, 0%, 100%);

  /* alternative colors */

  --clr-secondary-1: #f9ff00;
  --clr-secondary-2: #ddfb13;
  --clr-secondary-3: #d0f91d;
  --clr-secondary-4: #c2f726;
  --clr-secondary-5: #b0e62b;
  --clr-secondary-6: #9dd52f;
  --clr-secondary-7: #77b338;
  --clr-secondary-8: #529141;
  --clr-secondary-9: #2c6e49;

  /* margins */

  --margin-l: 15rem;
  --margin-ml: 12rem;
  --margin-m: 10rem;
  --margin-ms: 5rem;
  --margin-s: 2rem;

  --margin-xs: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  max-width: 100vw;
  overflow-x: hidden;

  color: var(--clr-primary);
  transition: all 0.01s;
}

.main-container {
  /* width: 100vw; */
}

.bg-container {
  min-height: 100vh;
  position: relative;
}
/* ****************** */
/* HEADER */
/* ****************** */

.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  /* position: absolute;
  top: 0;
  left: 0; */

  /* height: 10rem; */
  z-index: 10;
  /* transition: all 0.6s; */
}

.logo__link {
  text-decoration: none;

  /* /////////////////////////// */
  height: 10rem;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  /* /////////////////////////// */
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.comp-name {
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--clr-white-900);
  letter-spacing: 1rem;
}

/* NAV */

.nav {
  display: flex;
  /* background-color: blue; */
  /* justify-content: space-between; */
  padding: 0 5rem;
  transition: all 0.6s;
}

.btn__mobile-nav {
  display: none;
  background-color: transparent;
  border: none;

  position: relative;

  /* //////////////////////////// */
  height: 10rem;
  /* //////////////////////////// */
  transition: all 0.2s;
}

.btn__mobile-nav__icon-menu {
  display: block;

  height: 5rem;
  width: auto;

  fill: white;
  stroke: white;
  cursor: pointer;
}

.menu-open {
  height: 5rem;
  width: auto;
  /* background-color: red; */
}
.menu-close {
  /* background-color: green; */
  height: 5rem;
  width: auto;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.nav__list {
  list-style: none;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 5rem;
}

.nav__link {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-white-900);

  border-bottom: none;
  transition: all 0.1s;
}

.contact-box {
  border-radius: 0.8rem;
  padding: 1rem 3rem;
  border: 0.3rem solid var(--clr-white-900);
  cursor: pointer;
  transition: all 0.4s;
}

.contact-box:hover .contact-link {
  /* color: var(--clr-primary); */
  /* color: var(--clr-secondary-1); */
  color: var(--clr-secondary-9);
}

.contact-box:hover {
  border: 0.3rem solid var(--clr-secondary-1);
  background-color: var(--clr-secondary-1);
}

.nav__link:hover {
  color: var(--clr-secondary-1);
}

/* HERO */

.hero {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;

  background-image: url(./images/grass-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

.box {
  /* background-color: red; */
  max-width: 150rem;
  text-align: center;
  margin-bottom: -15vh;
}

.hero__title {
  font-weight: 100;
  font-size: 15rem;
  font-style: normal;
  line-height: 1;

  color: var(--clr-white-900);

  position: relative;
}

.hero__title-inner {
  /* background-color: red; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  /* color: var(--clr-primary);
  color: var(--clr-secondary-9); */
  color: var(--clr-secondary-1);
}

.hero__title-desc {
  padding-top: 3rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-white-900);
  text-transform: uppercase;
}
/* MAIN */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-top: var(--margin-l);
  /* background-color: red; */
}
/* *************************************** */
/* ABOUT */
/* *************************************** */

.section-box {
  margin: 0 2rem 6rem;
}

h3 {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.numbers__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.num__box {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  border: 0.1rem solid var(--clr-primary);

  background-size: cover;

  padding: 6rem 2rem;
}

.num__box:hover .num__circle-number {
  transform: scale(1.05) translate(0, 6%);
}

.num__circle-init {
  font-weight: 400;
  margin-top: 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  /* color: var(--clr-secondary-1); */
}

.num__circle {
  width: 15rem;
  height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.num__circle-number {
  color: var(--clr-white-900);
  color: var(--clr-primary);
  font-size: 10rem;
  font-weight: 700;
  transition: all 0.2s;
}

.num__circle-desc {
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

/* *********************************** */
/* REALIZATIONS */
/* *********************************** */

.realizations {
  display: grid;
  /* width: 100vw; */
  /* width: 100%; */
  grid-template-columns: 15rem 1fr 15rem;

  background-color: var(--clr-primary);
}

.main-title__box {
  grid-column: 1/-1;
  justify-items: center;
  align-content: end;

  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 20rem;
}

.main-title {
  color: var(--clr-white-900);
  letter-spacing: 4rem;
  font-size: 3.4rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  padding-bottom: 1rem;
  /* ////////////////////////////// */
  padding-left: 4rem;
  /* ////////////////////////////// */

  position: relative;
  z-index: 10;
}

.t-2 {
  display: none;
}

.main-title__box-desc {
  color: #222;
  letter-spacing: 4rem;

  font-size: 30rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.65;
  position: absolute;
  top: 0;
  left: -2rem;

  z-index: -1;
}

.gallery-title__box {
  grid-column: 1/-1;
  background-color: var(--clr-white-900);
  background-color: var(--clr-primary);
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
}

.gallery-title__box::before {
  background-color: var(--clr-white-900);
  grid-column: 1/2;
  border: 0.2rem solid var(--clr-primary);
}

.gallery-title {
  display: inline;
  grid-column: 2/3;
  color: var(--clr-white-900);
  /* color: var(--clr-primary); */
  letter-spacing: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2;
}

.flex {
  grid-column: 1/-1;
  align-self: end;
  height: 80vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.1rem;

  /* margin: 0 2rem; */
}

.image-box__bg,
.image-box {
  width: 10rem;

  background-size: cover;
  background-position-x: left;
  background-position-y: center;
  overflow: hidden;

  cursor: pointer;
  transition: all 0.6s;

  display: flex;
  align-items: end;
  /* justify-content: start; */

  transition: width 1s;
}

.image-desc__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  color: var(--clr-white-900);
  /* overflow: hidden; */
  padding: 2rem 0;
}

.image-desc__num {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  /* margin: 2rem; */
}

/* when 'image-desc__num' open */
.num-size {
  width: 8rem;
}

.image-desc__desc {
  overflow: hidden;
  opacity: 0;
  width: 0;
  transition: all 1s;
  font-size: 1.5rem;
  text-transform: uppercase;
  /* margin: 2rem; */
  /* flex-wrap: nowrap; */

  transition: opacity 3s ease;

  /* /////////////////////////////////// */
  white-space: nowrap;
  overflow: hidden;
  /* /////////////////////////////////// */
}

.show__desc {
  opacity: 100;
  width: 100%;
}
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */

.image-box__1 {
  width: 100%;
}

.full-size {
  width: 100%;
}
/* *************************** */
/* OFFER */
/* *************************** */

.t-o2 {
  display: none;
}

.offer-title__box {
  width: 100%;
  height: 12rem;
  padding: 0 0 1rem 15rem;

  display: flex;
  justify-content: start;
  align-items: end;

  background-color: var(--clr-primary);
  color: var(--clr-white-900);
}

.offer-title {
  text-align: center;
  font-size: 10rem;
  letter-spacing: 1;
  line-height: 0.7;
  text-transform: uppercase;
  font-weight: 600;
}

ul {
  list-style: none;
}

.offer-item__box {
  width: 100%;
  /* height: 14rem; */
  height: calc(100vh / 7);

  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  align-items: end;
  justify-content: center;

  padding: 1rem 0 0 0;

  color: var(--clr-primary);

  transition: all 0.1s;
  cursor: pointer;
}

.offer-item {
  padding-left: 5rem;
}

.offer-work {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.icon-cross {
  justify-self: center;

  /* display: flex;
  justify-content: center;
  align-content: center; */

  height: 4rem;
  width: auto;
  fill: var(--clr-primary);

  transform: rotate(45deg);
  transition: all 0.2s;
  margin-bottom: 3rem;
}

.offer-more {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: 0fr;
  justify-content: start;

  transition: all 0.2s;
  padding-left: 5rem;
}
/* ///////////////////////////////////////////////////// */

.offer-open {
  grid-template-rows: 1fr;
}
.cross-1__close {
  transform: rotate(90deg);
}
.cross-2__close {
  transform: rotate(0deg);
}

/* ///////////////////////////////////////////////////// */

.offer-more__desc {
  grid-column: 2/3;
  justify-self: start;
  overflow: hidden;
  font-size: 1.5rem;
  padding: 0 2rem;
  max-width: 80rem;
  border-left: 0.1rem solid var(--clr-white-900);
  text-transform: uppercase;
  transition: all 0.4s;
}

.add-padding {
  padding: 1rem 2rem;
}

/* ********************************* */
/* CONTACT */
/* ********************************* */
.contact {
  min-height: 80vh;
  margin: 0 2rem;
}
.contact-title__box {
  height: 15vh;
}

.contact-title {
  color: var(--clr-primary);
}

.contact-wings {
  height: 65vh;
  display: grid;
  /* justify-content: center; */
  align-items: center;
  gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
  /* margin: 0 2rem; */
}
.contact-wing__left,
.contact-wing__right {
  font-size: 2rem;
  /* border: 0.2rem solid green; */
}

.contact-item__box {
  display: grid;

  /* border: 0.2rem solid red; */
  /* width: 60rem; */
}

.left {
  justify-content: end;
}
.left-self {
  justify-self: end;
}
.right {
  justify-content: start;
}
.right-self {
  justify-self: start;
}

.contact-item__link {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4rem;
  /* border: 0.2rem solid yellow; */
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 10rem;
}

/* .contact-item__link:hover {
  color: var(--clr-white-900);
  background-color: var(--clr-primary);
} */

.reverse {
  flex-direction: row-reverse;
}

.contact-item__link-num {
  font-size: 3rem;
  font-weight: 700;
}

.contact-item__desc {
  /* border: 0.2rem solid blue; */
  /* height: 2rem; */
  display: flex;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.contact-item__desc-right {
  margin-left: 12rem;
}
.contact-item__desc-left {
  margin-right: 12rem;
}

.contact-item__icon-box {
  background-color: var(--clr-primary);
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item__icon {
  font-size: 4rem;
  line-height: 1.5;
  text-align: center;
  fill: var(--clr-white-900);

  height: 4.5rem;
  width: auto;
}
/* ************************** */
/* FOOTER */
/* ************************** */
.footer {
  height: 20vh;
  background-color: var(--clr-primary);
  color: var(--clr-white-900);
  font-size: 2rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border: 0.2rem solid red; */
}

.footer-items {
  margin: 0 5vw;
  width: 100%;
  /* border: 0.2rem solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-item__rights {
  font-weight: 300;
}

.footer-item__rights span {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 700;
  margin-left: 2rem;
}

.footer-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item__link-icon {
  height: 3rem;
  width: auto;
  fill: var(--clr-white-900);
}

/* COLORS */

.color-1 {
  background-color: var(--clr-secondary-1);
}
.color-2 {
  background-color: var(--clr-secondary-2);
}
.color-3 {
  background-color: var(--clr-secondary-3);
}
.color-4 {
  background-color: var(--clr-secondary-4);
}
.color-5 {
  background-color: var(--clr-secondary-5);
}
.color-6 {
  background-color: var(--clr-secondary-6);
}
.color-7 {
  background-color: var(--clr-secondary-7);
}
.color-8 {
  background-color: var(--clr-secondary-8);
}
.color-9 {
  background-color: var(--clr-secondary-9);
}

/* BACKGROUD IMAGES FOR REALIZASIONS */

.image-1 {
  background-image: url(./images/galeria/male/o-1.jpg);
}
.image-2 {
  background-image: url(./images/galeria/male/o-2.jpg);
}
.image-3 {
  background-image: url(./images/galeria/male/o-3.jpg);
}
.image-4 {
  background-image: url(./images/galeria/male/o-4.jpg);
}
.image-5 {
  background-image: url(./images/galeria/male/o-5.jpg);
}
.image-6 {
  background-image: url(./images/galeria/male/o-6.jpg);
}
.image-7 {
  background-image: url(./images/galeria/male/o-7.jpg);
}

/* hidden */

.hidden {
  display: none;
}

/* MARGINS */

.margin-b__l {
  margin-bottom: var(--margin-l);
}
.margin-b__ml {
  margin-bottom: var(--margin-ml);
}
.margin-b__m {
  margin-bottom: var(--margin-m);
}
.margin-b__ms {
  margin-bottom: var(--margin-ms);
}
.margin-b__s {
  margin-bottom: var(--margin-s);
}
.margin-b__xs {
  margin-bottom: var(--margin-xs);
}

.margin-t__s {
  margin-top: var(--margin-s);
}

/* *************************** */
/* functionality */
/* *************************** */

.open {
}

/* .mobile__nav-background {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 100%;

  background-color: #2c6e49;
  transition: left 0.3s;
} */

/* .mobile__nav-bg-show {
  left: 0;
} */
