:root {
  /* colors */

  --clr-primary: hsl(191, 69%, 13%);
  --clr-secondary-500: hsl(139, 96%, 57%);
  --clr-secondary-700: hsl(145, 82%, 44%);
  --clr-secondary-500: hsl(133, 89%, 33%);
  --clr-secondary-300: hsl(132, 95%, 22%);
  --clr-white-900: hsl(0, 0%, 100%);

  /* margins */

  --margin-l: 15rem;
  --margin-m: 10rem;
  --margin-s: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  /* font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  font-style: normal; */
  color: var(--clr-primary);
}

.bg-container {
  min-height: 100vh;
  position: relative;
}

/* HEADER */

.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  padding: 4rem 6rem;

  z-index: 10;
  /* border: 0.2rem solid red; */
}

.logo__link {
  text-decoration: none;
}

.logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.comp-name {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--clr-white-900);
  /* text-transform: uppercase; */
}

.comp-logo {
  height: 4rem;
  width: auto;
}
/* NAV */
.nav__list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav__item {
}

.nav__link {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  /* text-transform: uppercase; */
  color: var(--clr-white-900);

  border-bottom: none;
  transition: all 0.1s;
}

.nav__link:hover {
  border-bottom: 0.2rem solid var(--clr-white-900);
}

/* HERO */

.hero {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;

  background-image: url(./images/grass-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;

  z-index: 1;
}

.box {
  max-width: 150rem;
  /* font-family: 'Fuggles', cursive; */

  text-align: center;
  margin-bottom: -15vh;
  /* margin-top: 15vh; */
  /* margin: 0 auto; */
}

.hero__title {
  font-weight: 100;
  /* text-shadow: 0rem 0.1rem 0 var(--clr-white-900); */
  /* line-height: 1; */
  font-style: normal;

  /* color: var(--clr-primary); */
  color: var(--clr-white-900);
  /* text-transform: uppercase; */
  font-size: 6rem;
  position: relative;
}

.hero__title-desc {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr-white-900);
  text-transform: uppercase;
}
/* MAIN */

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* ABOUT */

h3 {
  font-size: 4rem;
  text-align: center;
  font-weight: 200;
}

.numbers__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  border: 0.2rem solid red;
}

.num__box {
  border: 0.2rem solid greenyellow;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.num__circle {
  width: 15rem;
  height: 15rem;
  background-color: var(--clr-primary);
  /* background-color: var(--clr-secondary-500); */
  border: 0.2rem solid var(--clr-primary);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.num__circle-number {
  color: var(--clr-white-900);
  /* color: var(--clr-primary); */
  font-size: 4rem;
  font-weight: 300;
}

.num__circle-desc {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

/* hidden */

.hidden {
  display: none;
}

/* MARGINS */

.margin-b__l {
  margin-bottom: var(--margin-l);
}
.margin-b__m {
  margin-bottom: var(--margin-m);
}
.margin-b__s {
  margin-bottom: var(--margin-s);
}
